**/.DS_Store
**/__pycache__/
.venv/

scripts/visualisations/raster_identification.py
scripts/visualisations/raster_polygon_qa.py
scripts/visualisations/flood_algorithm.py
scripts/visualisations/louvain_comm_raster_to_polygons.py
scripts/visualisations/raster_polygon_processing.py
scripts/visualisations/raster_to_polygons.py

scripts/chips/rasterio_draft_chip.py
scripts/chips/chip_creation.py
scripts/chips/first_draft_chip.py
scripts/chips/copy_chips_S2_dates.py

*.h5
*.pth

*.aux.xml
*.gpkg-shm
*.gpkg-wal

scripts/pybacdm/cpca070342024_shared/predict_pipeline/postprocess/CCDC_Mask_dissolve.gpkg

scripts/cpca070342024_shared/predict_pipeline/**/test_*.py
scripts/cpca070342024_shared/predict_pipeline/inspect_hdf5.py
