**/.DS_Store
**/__pycache__/
.venv/

scripts/visualisations/raster_identification.py
scripts/visualisations/raster_polygon_qa.py
scripts/visualisations/flood_algorithm.py
scripts/visualisations/louvain_comm_raster_to_polygons.py
scripts/visualisations/raster_polygon_processing.py
scripts/visualisations/raster_to_polygons.py

scripts/chips/rasterio_draft_chip.py
scripts/chips/chip_creation.py
scripts/chips/first_draft_chip.py
scripts/chips/copy_chips_S2_dates.py

smallfile_T29TQG_6bands.h5

scripts/pybacdm/cpca070342024_shared/predict_pipeline/small_test_area/T29SNB_testblock.h5

*.aux.xml
*.gpkg-shm
*.gpkg-wal